body {
    background-color: lightgrey;
    font-family: 'Josefin Slab', serif;
}

.navigation-bar {
    background-color: white;
    height: 12vh;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* .footer {
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    height: 80px;
} */

.page-container {
    height: 100vh;
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    font-family: 'Special Elite', cursive;
    margin-top: 165px;
    border-left: 8px double black;
    padding-left: 15px;
    padding-top: 13px;
}

.projects-container {
    /* border: 2px solid orange; */
    margin-top: 8%;
    height: 40vh;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    /* border: 2px solid blue; */
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project1 {
    border: 2px solid black;
    height: 200px;
    min-width: 200px;

    background-image: url("dog1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#project2 {
    border: 2px solid black;
    height: 200px;
    min-width: 200px;

    background-image: url("dog2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#project3 {
    border: 2px solid black;
    height: 200px;
    min-width: 200px;

    background-image: url("dog3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}