* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanalei Fill', cursive;

    /* STILL DECIDING ON BACKGROUND COLOR */
    background-color: #0e4f0e;
    background-color: #b7ecb7; 
    background-color: #9b9b9b;
}

.title {
    font-size: 5em;
    margin-top: 13%;
}

#welcome-deer {
    height: 200px;
    margin-bottom: 15%;
}

.login-container {
    background-color: #ffffff8f;
    border: 3px #ae4c00;
    margin: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-area {
    margin-bottom: 10%;
}

input {
    width: 100%;
    height: 35px;
    letter-spacing: 2px;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: hidden;
}

/* BUTTON STYLING */
button {
    position: relative;
    float: right;
    font-family: 'Hanalei Fill', cursive;
    background-color: #229324;
    border: none;
    font-size: 25px;
    color: #ffe500;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 25px 0px;
    letter-spacing: 2px;
}

button:after {
    content: "";
    background: #ffe500;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}