html {
    background-image: url('mojave.jpg'); 
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 10vh;
    color: white;
}

.main-wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
}

.time-container {
    /* text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.quote-container {
    font-size: 3vh;
}

.mili-time {
    font-size: 1vh;
}