* { box-sizing: border-box }

html, body {
    height: 90%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #caf2ff;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

input {
    width: 100%;
    margin-bottom: 15px;
}

.login-container {
    min-height: 250px;
    min-width: 150px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 20px 30px 20px;
}

#welcome-gif {
    height: 20vh;
    margin: 30px;
}



/* BUTTON STYLING */

button {
    background-color: #feafde;
    outline: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.1s;
    box-shadow: 0 5px #999;
    border: none;
    float: right;
}

button:active {
    background-color: #fa83c9;
    box-shadow: 0 3px #7d7d7d;
    transform: translateY(2px); 
}